html, body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
body {
	background-color: #005AA3;
}
header {
	background-color: #004E8E;
	width: 100%;
	text-align: center;
	font-size: .7em;
	font-weight: lighter;
	border-bottom: 1px solid #378CCD;
	padding: 1px;
}
header * {
	display: inline-block;
}
header p {
	border-right: 1px solid #2889C2;
	padding: 0 15px;
	color: white;
	line-height: 7px;
	margin-bottom: 10px;
}
header img {
	margin-left: 5px;
}
#wrapper {
	width: 49%;
	height: 2800px;
	background-color: #ffffff;
	margin: 20px auto 0 auto;
	border: 1px solid #e3e3e3;
	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.6);
}
#logo {
	float: left;
	margin: 25px 5px 20px 25px;
}
nav {
	float: left;
	margin-top: 23px;
	color: #07509D;
	font-size: 1.3em;
}
#nav-menu {
	list-style: none;
}
.nav-link {
	float: left;
	margin-left: 20px;
}
a:visited {
	color: #07509D;
}
#home {
	color: #1791D1
}
#home:visited {
	color: #1791D1;
}
.photo-container {
	width: 875px;
	height: 360px;
	margin: 0 auto;
}
#img-selector-box-container {
	width: 150px;
	height: 50px;
	margin: 138px auto 0 auto;
}
.img-selector {
	background-color: #AEAEAE;
	width: 22px;
	height: 18px;
	float: left;
	margin-left: 3px;
}
#first-img-selector {
	margin-left: 0;
	background-color: #686868;
}
#mid-img-container {
	width: 95%;
	margin: 23px auto;
}
#mid-img-container table {
	margin: 0 auto;
}
#mid-img-container table td {
	padding-left: 19px;
}
#first-mid-img {
	padding-left: 0 !important;
}
td p {
	font-size: .8em;
	line-height: 1.7em;
	padding-top: 15px;
}
th {
	text-align: left;
	padding-left: 19px;
	padding-top: 0;
}
th a, th a:visited {
	text-decoration: none;
	color: #363636;
	font-size: .8em;
}
#featured-case-selector-container {
	width: 70px;
	height: 10px;
	float: right;
}
.featured-case-selector {
	background-color: #AEAEAE;
	height: 10px;
	width: 14px;
	float: right;
	margin-right: 2px;
}
#selected-case {
	background-color: #686868;
}
#bottom-image-container {
	width: 875px;
	height: 510px;
	margin: 55px auto 10px auto;
}
#greeting, #signature {
	font-size: .8em;
	line-height: 20px;
}
#greeting {
	margin: 0 auto;
	width: 865px;
}
#signature {
	margin-left: 25px;
}
#reviews {
	width: 95%;
	text-align: center;
	margin: 0 auto;
}
#reviews h3 {
	font-size: .8em;
}
.review {
	text-align: left;
	font-size: .8em;
}
#more-reviews {
	text-align: center;
	font-size: .8em;
}
#iframe-container {
	width: 870px;
	margin: 50px auto;
}
footer {
	width: 50%;
	height: 25px;
	margin: 0 auto;
	font-size: .6em;
	color: white;
	vertical-align: top;
}
footer p {
	display: inline-block;
	line-height: 20px;
	margin-right: 60px;
}
footer p a, footer p a:visited {
	color: white;
	text-decoration: none;
}
#footer-nav {
	list-style: none;
	display: inline-block;
	float: right;
}
#footer-nav li {
	float: left;
	padding: 0 10px;
	border-left: 1px solid white;
}



